<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="bg">
        <nav>
            <h3> Portfolio.</h3>
            <!-- <img src="https://chat.openai.com/_next/image?url=https%3A%2F%2Flh3.googleusercontent.com%2Fa%2FAAcHTtd5OP2NEwez1ezuM-lTTcBA6iX-APTWkby3aoxRiQQFOeY%3Ds96-c&w=48&q=75"
                alt="" srcset=""> -->
            <div id="links">
                <a href="/portfolio.html">Home</a>
                <a href="/contact.html" class="active">Contacts</a>
                <a href="/projects.html">Projects</a>

                <i class="ri-search-2-line" class="search"></i>
                <i id="menu" class="ri-menu-line"></i>
            </div>


        </nav>
        <div id="sections">
            <div class="container">
                
            </div>
            <!-- <div id="left">
                <div id="smline">
                </div>
                <h4>Contact me 👋 </h4>
                <h1>Sudarshan

                    <div> Shrestha</div>
                </h1>
                <h5>a Full Stack Developer from <span id="lblue" style="">
                        Nepal.
                    </span></h5>
                <div id="playbtn">
                    <i class="ri-play-circle-fill ri-3x"></i>
                    <span>
                        <h5>
                            See my <span class="bold">
                                work profile.
                            </span>
                        </h5>
                    </span>
                </div>
                <div id="contact">
                    <h3>Contact me</h3>
                    <h6>Email : <span>sudarshanshrestha519@gmail.com</span></h6>
                    <h6>Contact Number <span>+977-9863450107</span></h6>
                </div>
            </div>
            <div id="right">
                <!-- <div class="circle">

                </div>
                <div class="circle">

                </div> -->
                <!-- <div id="contact">
                    <h3>Contact me</h3>
                    <h6>Email : <span>sudarshanshrestha519@gmail.com</span></h6>
                    <h6>Contact Number <span>+977-9863450107</span></h6>
                </div> -->
            </div> -->
        </div>
        <!-- <section class="">
            <div class="row">
                <div class="col">
                    <div>
                        <div>
                            Hello,It's Me
                        </div>
                        <div>
                            Sudarshan Shrestha
                        </div>
                        <div>
                            And I'm a Full Stack Developer
                            <br>
                            I build Android,IoS,and web Apps
                            <br>
                            <div class="row">
                                <div class="social">
                                    <p>
                                        Fb
                                    </p>
                                </div>
                                <div class="social">
                                    <p>InSt</p>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <button type="submit">Download CV</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="hexagon">

                    </div>
                </div>
            </div>

        </section> -->
    </div>
</body>

</html>