<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div id="loader">
        <div id="wrapperload">
            <div class="elem">
                <h4>Sudarshan Shrestha</h4>
            </div>
            <div class="elem">
                <h3>Flutter Developer,

                </h3>
            </div>
            <div class="elem">
                <h3>
                    Python Developer
                </h3>
            </div>
            <div class="elem">
                <h3>Love to code.</h3>
            </div>
        </div>
    </div>
    <div id="bg">
        <nav>
            <h3> Portfolio.</h3>
            <!-- <img src="https://chat.openai.com/_next/image?url=https%3A%2F%2Flh3.googleusercontent.com%2Fa%2FAAcHTtd5OP2NEwez1ezuM-lTTcBA6iX-APTWkby3aoxRiQQFOeY%3Ds96-c&w=48&q=75"
                alt="" srcset=""> -->
            <div id="links">
                <a href="portfolio.html">Home</a>
                <a href="contact.html">Contacts</a>
                <a href="projects.html">Projects</a>

                <!--      <i class="ri-search-2-line" class="search"></i>-->

                <li>
                    <i id="menu" class="ri-menu-line"></i>
                    <ul class="dropdown">
                        <li><a href="/portfolio.html">Home</a></li>
                        <li><a href="/contact.html">About Me</a></li>
                        <li><a href="/projects.html">Projects</a></li>
                    </ul>
                </li>


            </div>


        </nav>
        <div id="sections">
            <img id="splash" src="rightSplash.png" alt="" srcset="">


            <div id="left">
                <div id="smline">
                </div>
                <h4>Hello, I'm 👋 </h4>
                <h1>Sudarshan

                    <div> Shrestha</div>
                </h1>




                <!-- <p class="line-1 anim-typewriter">Animation typewriter style using css steps()</p> -->
                <h5>Flutter,Python Developer from <span id="lblue" style="">
                        Nepal.
                    </span></h5>
                <h3>
                    <a href="" style="color:grey;font-size: 24px;text-decoration: none;" class="typewrite"
                        data-period="2000" data-type='[ "Hi, I’m Flutter Developer.", "I am Python Developer."
                        , "I Love working on design." , "I Love to Develop." ]'>
                        <span class="wrap"></span>
                    </a>
                </h3>
                <div id="playbtn">
                    <i class="ri-play-circle-fill ri-3x"></i>
                    <span>
                        <h5>
                            See my <span class="bold">
                                work profile.
                            </span>
                        </h5>
                    </span>
                </div>
                <div id="contact">
                    <h3>Contact me</h3>
                    <h6>Email : <span>sudarshanshrestha519@gmail.com</span></h6>
                    <h6>Contact Number <span>+977-9863450107</span></h6>
                </div>

            </div>
            <div id="right">

                <img src="FB_IMG_1630418544911-removebg-preview(1).png">
                <img src="mainImage.png" alt="" srcset="">



                <!-- <div class="circle">

                </div>
                <div class="circle">

                </div> -->
                <!-- <div id="contact">
                    <h3>Contact me</h3>
                    <h6>Email : <span>sudarshanshrestha519@gmail.com</span></h6>
                    <h6>Contact Number <span>+977-9863450107</span></h6>
                </div> -->
            </div>
        </div>
        <!-- <section class="">
            <div class="row">
                <div class="col">
                    <div>
                        <div>
                            Hello,It's Me
                        </div>
                        <div>
                            Sudarshan Shrestha
                        </div>
                        <div>
                            And I'm a Full Stack Developer
                            <br>
                            I build Android,IoS,and web Apps
                            <br>
                            <div class="row">
                                <div class="social">
                                    <p>
                                        Fb
                                    </p>
                                </div>
                                <div class="social">
                                    <p>InSt</p>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <button type="submit">Download CV</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="hexagon">

                    </div>
                </div>
            </div>

        </section> -->
    </div>
    <script>
        var menu = document.querySelector("#menu")
        var bg = document.querySelector("#bg");
        var menu = document.querySelector("#menu")
        menu.addEventListener('click', function () {
            menu.style.display = 'block';
        })
        menu.addEventListener('click', function () {
            console.log(bg.className)
            bg.classList.toggle('clicked')
            // if (bg.style.transform != 'scale(.8)') {
            //     bg.style.transform = 'scale(.8)';
            //     bg.style.borderRadius = '10px';
            //     bg.style.boxShadow = '0 150px 45px -100px rgba(0,0,0,0.2)';
            // } else {
            //     bg.style.transform = 'scale(1)';
            // }
        })
    </script>
    <script src="script.js"></script>
</body>

</html>