<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .container {
        overflow: hidden;
        color: red;

        border: 2px solid red;
    }

    img {
        height: 400px;
        width: 400px;
    }

    img:hover {
        scale: 1.4;
        /* overflow: hidden; */
        /* object-fit: cover; */
    }
</style>

<body>
    <div class="container" style="">
        <img src="../static/nirmanschedule.png" alt="" srcset="">
    </div>
</body>

</html>